<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Require.js Game</title>
    <script data-main="scripts/main" src="scripts/require.js"></script>
    <link rel="stylesheet" type="text/css" href="css/grid.css">
  </head>
  <body>
    <!-- <h1 id='tictactoe'>Tic Tac Toe</h1> -->
    <table>
      <tr>
        <td id='0-0'></td>
        <td id='0-1'></td>
        <td id='0-2'></td>
      </tr>
      <tr>
        <td id='1-0'></td>
        <td id='1-1'></td>
        <td id='1-2'></td>
      </tr>
      <tr>
        <td id='2-0'></td>
        <td id='2-1'></td>
        <td id='2-2'></td>
      </tr>
    </table>
    <h1 id='game-message'></h1>
    <h2 id='player-name'>X's turn</h2>
  </body>
</html>
